@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  background-color: #f9fcfd;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-bg {
  background-image: linear-gradient(0deg, #171925 0%, #171925 100%);
}

.lang-button {
  background-image: linear-gradient(0deg, #252734 0%, #2d3043 100%);
}

.trade-button {
  background-image: linear-gradient(131deg, #694dc6 0%, #4f32b0 100%);
}

.hero-text {
  background-image: linear-gradient(176deg, rgba(255,255,255,1) 0%, rgba(177,156,236,1) 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.logos-bar {
  background-image: linear-gradient(94deg, #7a5dd1 0%, #663de3 99%, #663de3 100%);
}